apiVersion: v1
clusters:
- cluster:
    server: https://napi.arvancloud.ir/caas/v2/regions/ir-central1
  name: ir-central1
contexts:
- context:
    cluster: ir-central1
    namespace: viworks
    user: 34e7ffd7-20e3-507c-b199-0dd639160761
  name: ir-central1
current-context: ir-central1
kind: Config
users:
- name: 34e7ffd7-20e3-507c-b199-0dd639160761
  user:
    token: 9dcb642a-0342-532a-ab46-205a6c8da1f7